<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jasc.jama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".applications.ParseInitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.SplashActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activities.SplashActivity" />
        <activity
            android:name=".activities.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddReminderActivity"
            android:parentActivityName=".activities.DashBoardActivity" />
        <activity
            android:name=".activities.AddReportActivity"
            android:parentActivityName=".activities.DashBoardActivity" />
        <activity
            android:name=".activities.AddAppointmentActivity"
            android:parentActivityName=".activities.DashBoardActivity" />
        <activity
            android:name=".activities.ImageActivity"
            android:parentActivityName=".activities.DashBoardActivity" />
    </application>

</manifest>
